


body 
{
    background-image:url(../images/wall5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #E4CFC9;
    font-size: 170%;
    
   
} 

img { display:block;
      margin: 0 auto;
      width: 100%;
}

h1, h2, h3 {
    color: #E4CFC9;
    text-align: center;

}

h1{
    font-size: 3.8em;
    color: #E4CFC9;
    font-family: 'Playfair', serif;
    
    
}

h2{
    font-size: 3.5em;
    color: #E4CFC9;
    font-family: 'Playfair', serif;


}

h3{
    font-size: 2.3em;
    color:#E4CFC9;
    font-family: 'Playfair', serif;
}


h4{
    text-align: center;
    font-size: 1.75em;
    color:#E4CFC9;
    font-family: 'Playfair', serif;
    
}

#container {
    background-color:#1e2d5c;
}

nav {
    background-color:#E37216;
    padding: 2px 0;
    text-align: center;
}

nav ul{
    padding: 0;
    list-style-type: none;
}

nav li {

    display: block;
    border-bottom: 2px solid black;

}

nav li a{
    display: block;
    height: 40px;
    line-height: 40px;
    background-color:#FBE2A9 ;
    color: black ;
    text-decoration:none;
    font-size: 2.5em;
    font-weight: lighter;
    padding: 5px 0;

}

nav li a:hover {
    background-color:#3D5AA0;
    color: bisque;
    border:4px double #f6103a;
}

main {
    padding: 20px;
}

.col{
    padding: 10px;
    border-top: 4px solid #1b2254;
}


footer {
    
        background-color:#1e2d5c;
        text-align: center;
        padding: 40px 0;
        color: aliceblue;
        font-weight: bold;
        font-family: 'Playfair Display', serif;
}

.button  {
    display: block;
    width: 200px;
    height: 10px;
    line-height: 10px;
    background-color:#FBE2A9 ;
    color: black;
    text-decoration: #658bab;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 4px double  #f29dac;
    border-radius: 10px;
    font-family: myFirstFont;
}

.button:hover {
    background-color:#3D5AA0;
    border-color: #f6103a;
}

table{
    border:#1b2254;

}

tr,
td{
    border: 4px solid coral;}
@media(min-width: 768px) 
{
    nav li {
        display: inline-block;
        border: 0;
    

    }
nav li a {
    width: 250px;
    border: 4px solid #f29dac;
    border-radius: 10px;
    margin: 0 10px;
    font-size: 1.42em;

}

main{
    display: flex;
}

section,
aside {
     padding: 10px;
     margin: 10px;
     border: 9px solid #c1cad7;
    border-radius: 10px;
    font-family: 'Playfair', serif;
}

section {
    width: 70%;
}
aside {

    width: 30%;

}
}



.col img{
    width: 75%;

}
.button {
    margin-left: auto;
    margin-right: auto;
}
.single_page {
    width: 100%;
}


table img {
    width: 100%;
}
@media (min-width:1024px) {

    #container{
        width: 68%;
        margin: 20px auto;
    }

nav li a{
    background-color: #FBE2A9;
   
    width: 160px;
}

#lower_area h3{
    font-size: 1.75em;
    color:  #FBE2A9;
    background-color: #E37216;
    padding: 10px;
    text-shadow: 2px 2px 2px black;
    
}

#lower_area {
    display: flex;
    width: 100%;
   
}

}
.col{
        border: 6px solid#c1cad7;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        width: 33%;
       
}


.single_page {
    width: 100%;
}


section img {
    width: 65%;
}

.fontsize
{font-size:  32px;
margin: 75px 50px 50px 75px;
}

.fontsize2
{font-size:  30px;
margin: 75px 50px 50px 75px;}
 
.fontsize3
{font-size:  3.3em;
    margin: 75px 50px 50px 75px;}

.fontsize4
{font-size:  2.0em;}


.img { display:block;
    margin: 0 auto;
    width: 55%;
}

.img2 { display:block;
    margin: 0 auto;
    width: 90%;
}

.img3{ display:block;
    margin: 0 auto;
    width: 90%;
}

.img5{ display:block;
    margin: 0 auto;
    width: 40%;
}

.audio{
   text-align: center
}

a {
    color: #E4CFC9;
}

