body{
    background-color:#1b2254 ;
    color: #fdfdf5de;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img { 
    display: block;
    margin: 0 auto;
    width: 40%; 
}

h1, h2, h3 {
    color: #FBE2A9;
    text-align: center;

}

h1{
    font-size: 2.75em;
    color: #FBE2A9;
    
    
}

h2{
    font-size: 3.0em;
    color: #FBE2A9;

}

h3{
    font-size: 2.3em;
    color: #FBE2A9;
}

#lower_area h3{
    font-size: 2.5em;
    color: #8688cd;
    background-color: #d8dc67;
    padding: 10px;
    text-shadow: 2px 2px 2px black;
    border:12px single #f29dac;
    border-radius: 20px;
}

#container {
    background-color: #8688cd;
    width: 75%;
    margin: 20px auto;
    border: 4px solid  #8688cd;

}

nav {
    background-color:#d8dc67;
    padding: 2px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;

}

nav li a {
    display: block;
    background-color:#FBE2A9 ;
    width: 480px;
    height: 50px;
    line-height: 50px;
    font-size: 1.75em;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border:12px double #f29dac;
    border-radius: 10px;
    margin: 0 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav li a:hover {
    background-color: #b6c586;
    color: bisque;
    border:4px double #f6103a;
}

main{
    display: flex;
}

section, 
aside {
    border: 9px solid #9ed2ff;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
}


section {
    width: 80%;
}
aside {
    width: 20%;
}

.single_page {
    width: 100%;
}

#main_img_resize {
    width: 20%

}
#lower_area{
    display:flex;
}

.col{
    border: 4px solid #9ed2ff;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    width: 50%;
}

.img 
{display: block;
width: 75%;
margin: 20px 0 auto;}

.img2 
{display: block;
width: 57%;
margin: 20px 0 auto;}
.fontsize
{font-size:  30px;}

.fontsize2
{font-size:  30px;}
 
.fontsize3
{font-size:  3.3em;}

footer {
    background-color:#658bab;
    text-align: center;
    padding: 40px 0;
    color: aliceblue;
    font-weight: bold;
}
.button  {
    display: block;
    width: 200px;
    height: 10px;
    line-height: 10px;
    background-color:#FBE2A9 ;
    color: black;
    text-decoration: #658bab;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 4px solid  #f29dac;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button:hover {
    background-color: #b6c586;
    border-color: #f6103a;
}

table {
    border: 4px solid coral;
}

td, tr {
    border: 4px single coral;
    padding: 10px;
    margin: 10px;
}



